<a href="https://colab.research.google.com/github/thuanyvermelho/ProjetosDIO---Cientista-de-Dados/blob/Projeto-1/Trabalhando_biblioteca_pandas_e_analises_DIO.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df1 = pd.read_excel('Aracaju.xlsx')
df2 = pd.read_excel('Fortaleza.xlsx')
df3 = pd.read_excel('Natal.xlsx')
df4 = pd.read_excel('Recife.xlsx')
df5 = pd.read_excel('Salvador.xlsx')

FileNotFoundError: ignored

In [ ]:
df = pd.concat([df1, df2, df3, df4, df5])

In [ ]:
df.head()

In [ ]:
df.tail()

In [ ]:
df.dtypes #verificando o tipo de cada coluna

In [ ]:
df.describe

In [ ]:
#alterando o tipo de dado de cada coluna LojaID
df['LojaID'] = df['LojaID'].astype('object')

In [ ]:
df.dtypes

In [ ]:
df.head()

In [ ]:
#tratando valores faltantes - consultando linhas
df.isnull().sum()

In [ ]:
#substituindo os valores nulos por zero
df['Vendas'].fillna(0, inplace=True)

In [ ]:
#apagando  as linhas com valores nulos
df.dropna(inplace=True)

In [ ]:
#apagando  as linhas com valores nulos apenas uma coluna
df.dropna(subset=['Vendas'],inplace=True)

In [ ]:
#removendo linhas que estejam com valores faltantes em todas as colunas
df.dropna(how='all' , inplace=True)

In [ ]:
#criando colunas novas

In [ ]:
#criando colunas de receita - mul(multiplicação)

df['Receita'] = df['Vendas'].mul(df['Qtde'])

In [ ]:
df.head()

In [ ]:
#criando nova coluna e descobrindo q quantidade vendida de cada
df['Receita/Vendas'] = df['Receita']/ df['Vendas']

In [ ]:
df.head()

In [ ]:
#retornando a maior receita
df['Receita'].max()

In [ ]:
#retornando a menor receita
df['Receita'].min()

In [ ]:
#nlargest
df.nlargest(3,'Receita')

In [ ]:
df.nsmallest(3,'Receita')

In [ ]:
#agrupamento por cidade
df.groupby('Cidade')['Receita'].sum()

In [ ]:
#ordenando o conjunto de dados
df.sort_values('Receita', ascending=False).head(10)

## **TRABALHANDO COM CONJUNTO DE DATAS**

In [ ]:
#trabalhando a coluna de data um tipo inteiro
df['Data'] = df['Data'].astype('int64')

In [ ]:
#verificando o tipo de dado de cada coluna
df.dtypes

In [ ]:
#transformando a coluna de data em DATA
df['Data'] = pd.to_datetime(df['Data'])

In [ ]:
df.dtypes

In [ ]:
#agrupamento por ano
df.groupby(df['Data'].dt.year)['Receita'].sum()

In [ ]:
#criando uma nova coluna com ano
df['Ano de Venda'] = df['Data'].dt.year

In [ ]:
df.sample(5)

In [ ]:
#extraindo o mês e o dia
df['mes_venda'], df['dia_venda'] = (df['Data'].dt.month, df['Data'].dt.day)

In [ ]:
df.sample(5)

In [ ]:
#retornando a data mais antiga
df['Data'].min()

In [ ]:
#calculando a diferença de dias
df['diferença_dias'] = df['Data'] - df['Data'].min()

In [ ]:
df.sample(5)

In [ ]:
#criando a coluna de trimestre
df['Trimestre_Venda'] = df['Data'].dt.quarter

In [ ]:
df.sample(5)

In [ ]:
#filtrando as vendas de 2019 do mês de março 
vendas_marco_2019 = df.loc[(df['Data'].dt.year == 2019) & (df['Data'].dt.month ==3)]

In [ ]:
vendas_marco_2019.sample(20)

NameError: ignored

# **VISUALIZAÇÃO DE DADOS COM GRÁFICOS**

In [ ]:
df['LojaID'].value_counts(ascending=False)

In [ ]:
#grafico barras - ascending - do maior para o menor
df['LojaID'].value_counts(ascending=False).plot.bar()

In [ ]:
#grafico barras horizontal
df['LojaID'].value_counts().plot.barh();

In [ ]:
#grafico barras - ascending - do maior para o menor
df['LojaID'].value_counts(ascending=True).plot.barh();

In [ ]:
#gráfico de pizza
df.groupby(df['Data'].dt.year)['Receita'].sum().plot.pie();

In [ ]:
#total de vendas por cidade
df['Cidade'].value_counts()

In [ ]:
#adicionando titulos e alterando nome dos eixos
import matplotlib.pyplot as plt
df['Cidade'].value_counts().plot.bar(title='Total Vendas por Cidade')
plt.xlabel('Cidade')
plt.ylabel('Total de Vendas')

In [ ]:
# alterando a cor
df['Cidade'].value_counts().plot.bar(title='Total Vendas por Cidade', color='yellow')
plt.xlabel('Cidade')
plt.ylabel('Total de Vendas')

In [ ]:
#alterando o estilo
plt.style.use('ggplot')

In [ ]:
df.groupby(df['mes_venda'])['Qtde'].sum().plot(title = 'Total Produtos Vendidos')
plt.xlabel('Mês')
plt.ylabel('Total Produtos Vendidos')
plt.legend();

In [ ]:
df.groupby(df['mes_venda'])['Qtde'].sum()

In [ ]:
#selecionando apenas as vendas de 2019
df_2019 = df[df['Ano de Venda'] == 2019]

In [ ]:
df_2019.groupby(df_2019['mes_venda'])['Qtde'].sum()

In [ ]:
#total produtos vendidos por mes
df_2019.groupby(df_2019['mes_venda'])['Qtde'].sum().plot(marker = 'v')
plt.xlabel('Mês')
plt.ylabel('Total Produtos Vendidos')
plt.legend();

In [ ]:
#histograma
plt.hist(df['Qtde'], color='orangered');

In [ ]:
plt.scatter(x=df_2019['dia_venda'], y=df_2019['Receita']);

In [ ]:
#salvando as png
df_2019.groupby(df_2019['mes_venda'])['Qtde'].sum().plot(marker = 'v')
plt.title('Quantidade de Produtos Vendidos x Mês')
plt.xlabel('Mês')
plt.ylabel('Total Produtos Vendidos')
plt.legend()
plt.savefig('Graficos QTDE x Mês')